<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>Radiator</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{script.js}"></script>
    </head>
<body>
<h1>Benchmarks</h1>
<div id="root"></div>
<table id="table" class="hidden" border="1">
    <tr>
        <th></th>
        <th>DigitalContentCreationScore</th>
        <th>EssentialsScore</th>
        <th>PCMark10Score</th>
        <th>ProductivityScore</th>
    </tr>
</table>
</body>
</html>